/*test*/

TEI { display:block; }

teiHeader {
    border:solid #bdbdbd 1px;
    display:block;
    margin:2em;
    background-color:#e0e0e0;
}

fileDesc > titleStmt > title {
    display:block;
    font-weight:bold;
    font-size:1.5em;
}

fileDesc > titleStmt > author {
    display:block;
    font-style:italic;
    font-size:1.3em;
    margin-bottom:0.5em;
}


body{
    counter-reset:section;
}

pb::before{
  counter-increment: section;                  /* Erhöht den Abschnittszähler */
  content: "Seite " counter(section) ": ";      /* Zeigt den Zähler an */
}

pb{
    -oxy-display-tags:none;
}

reg{
    -oxy-display-tags:none;
}

orig{
    display:none;
}

orig > lg {
    display:none;
    -oxy-display-tags:none;
}

persName surname:after {
    content:",";
}

text {
    display:block;
    margin:2em;
}


div[type="chapter"]{
    display:block;
     border: 1px solid black;
     margin-bottom:0.7em;
}

ab{
    display:block;
}

ab[type="woodcut"]{
    background-color:#bcaaa4;

}

ab[type="mainText"]{
    background-color:#c5e1a5;
     -oxy-display-tags:none;
      margin:0px;
}

ab[type="chapterTitle"]{
    background-color:#558b2f;
    font-weight:bold;
    font-size:1.5em;
}

ab[type="motto"]{
    background-color:#fff59d;
}

ab[type="signatureMark"]{
    background-color:#ef9a9a;
}

figure{
    content:attr(facs);
}

head {
    display:block;
    font-weight:bold;
    font-size:1.2em;
    margin-bottom:0.5em;
}

lg {
    -oxy-display-tags:none;
    margin-bottom:0.5em;
}

l {
    -oxy-display-tags:none;
    display:block;
}

hi[rend="italic"] { 
    font-style:italic;
    -oxy-display-tags:none;
}

ref {
    -oxy-display-tags:none;
    color:blue;
    text-decoration:underline;
}

hi[rend="bold"] { 
    font-weight:bold;
    -oxy-display-tags:none;
}
