@font-face {
    font-family: andron;
    src: url(../fonts/Andron.ttf);
}

@font-face{
    font-family:medici;
    src: url(../fonts/MEDICI%20TEXT.TTF);
}


body { font: 14px ;
  font-family:andron;
  background: #f9f9f9;
 }

#pagewrap {
   height: 98%;
  width: 100%; 
  margin: 60px auto;}
  
 #left{
    width: 40%;
    background: darkgrey;
    height: 75%;
    overflow: scroll;
    position:fixed;
 }
 
/* #right {
    float:left;
    width: 50%;
    background: lightblue;
    height: 75%;
    overflow: scroll;
}*/

h1 { 
  font-family:medici;
  font-size:220%;
  font-weight:bold;
  margin-bottom:1.5em;}

h2{
  font: 14px Arial, sans-serif;
  color:#fff;
  padding: 10px;
  text-align: center;
}

.hide {
    display: none;
}

.chapterL, .chapterR{
    margin:7%;
}

.facsimile{
    width:40%;
    margin:2%;
    float:left;
}
/*
#left{
    float: left;
    /\*width:50%;
    height:75%;*\/
    background:lightblue;
    overflow:scroll;
    position:fixed;
}*/
